@media (min-width: 768px) /* Media query para pantallas grandes (computadoras) */
{
   #loginForm
   {
    width: 400px; /* Ancho del formulario */
    margin: auto; /* Centra el formulario en el centro de la pantalla */
   }
   input
   {
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Agrega una sombra a los campos de entrada */
       height: 70px; /* Establece la altura de los campos de entrada */
   }
   label
   {
    font-weight:bold; /* Establece negrita para las etiquetas */
    font-size: 25px; /* Establece el tamaño de fuente para las etiquetas */
    color:black; /* Establece el color de texto de las etiquetas */
    border-radius: 5px; /* Agrega bordes redondeados a las etiquetas */
   }
   #registerForm
   {
    width: 400px; /* Ancho del formulario */
    margin: auto; /* Centra el formulario en el centro de la pantalla */
   }
}

@media (max-width: 768px) /* Media query para pantallas pequeñas (celulares) */
{
    #loginForm
    {
        height: auto; /* Altura automática para el formulario */
        width: auto; /* Ancho automático para el formulario */
    } 
    input
    {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); /* Agrega una sombra a los campos de entrada */
        height: 70px; /* Establece la altura de los campos de entrada */
    }
    body
    {
        backdrop-filter: blur(10px); /* Aplica un efecto de desenfoque al fondo del cuerpo */
        background-size: cover;
        height: 100vh; /* 100% del alto de la ventana (viewport height) */
        margin: 0; /* Sin márgenes */
        padding: 0; /* Sin relleno */
    }
    label
    {
        font-weight:bold; /* Establece negrita para las etiquetas */
        border-radius: 8px; /* Agrega bordes redondeados a las etiquetas */
        padding: 5px; /* Agrega un espacio de relleno alrededor de las etiquetas */
        font-size: 25px; /* Establece el tamaño de fuente para las etiquetas */
    }
    #registerForm
    {
        height: auto; /* Altura automática para el formulario */
        width: auto; /* Ancho automático para el formulario */
    }
}

body
{
    background-image: url(Inicio/Imagenes/Fondo.jpg); /* Establece una imagen de fondo para el cuerpo */
    background-size: 100%; /* Ajusta el tamaño de la imagen de fondo al 100% de la ventana gráfica */
}

@keyframes latidos /*Creación de animación de latidos para el corazon*/
{
    from { transform: none; }
    50% { transform: scale(1.1); }
    to { transform: none; }
}

#corazon
{
    animation: latidos 4s infinite; /* Aplica una animación de latidos par el corazon' */
	transform-origin: center; /* Establece el punto de origen de la transformación en el centro del elemento */
}
